/* Slider.css */

.slider {
    width: 100%;
    height: 20px; /* Adjust height as needed */
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    margin-top: 9px;
  }

/*  span{
    margin-top: -4px;
    display: flex;
    margin-left: 2rem; */
    /* margin-right: 2rem;
    flex-direction: row;
    justify-content: space-around;
  } */
  
  .track {
    background: #ddd; /* Background color of the track */
    height: 5px; /* Height of the track */
    border-radius: 5px; /* Rounded edges for the track */
  }
  
  .thumb {
    box-sizing: content-box;
    height: 19px; /* Height of the thumb */
    width: 19px; /* Width of the thumb */
    background: #ffcc00; /* Color of the thumb */
    border: 2px solid #fff; 
    /* Border around the thumb */
    border-radius: 50%; /* Make the thumb circular */
    cursor: pointer; /* Change cursor to pointer */
    margin-top: -9px; /* Align thumb with track */
  }
  
  .thumb:hover {
    background: #ffbb00; /* Change color on hover */
  }
  

  